/* About hero styles */
.about-hero-wrap {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1.5fr 1fr 1fr .5fr;
    grid-template-rows: 3rem auto 5rem auto 2rem auto 2rem;
    grid-template-areas:"p-3 p-3 .   ."
                        "p-3 p-3 p-4 p-4"
                        ".   .   p-4 p-4"
                        "hr  hr  hr  hr"
                        "p-1 .   .   ."
                        "p-1 p-2 p-2 p-2"
                        ".   p-2 p-2 p-2";
    .about-hero {
        grid-area: hr;
    }
    .about-pic-1 {
        grid-area: p-1;
        margin-right: -6rem;
        z-index: 1;
        height: 240px;
    }
    .about-pic-2 {
        grid-area: p-2;
    }
    .about-pic-3 {
        grid-area: p-3;
        margin-right: -6rem;
    }
    .about-pic-4 {
        grid-area: p-4;
        height: 240px;
    }
}
.about-hero-wrap {
    h1 {
        z-index: 1;
        padding-top: 2rem;
        padding-bottom: 2rem;
        max-width: 23ch;
    }
    .about-pic {
        border-radius: $rev-radius;
        background-size: cover;
        background-position: center;
    }
}
@media screen and (min-width: $md) {
    .about-hero-wrap {
        grid-template-columns: 2fr 2fr 2fr 1fr 1fr;
        grid-template-rows: 18rem 5rem 5rem 20rem 5rem;
        grid-template-areas: "hr  hr  hr  .   ."
                             "p-1 .   .   p-4 p-4"
                             "p-1 p-2 .   p-4 p-4"
                             "p-1 p-2 p-3 p-3 ."
                             "p-1 .   p-3 p-3 .";
        h1 {
            position: relative;
            top: 0;
            min-width: 23ch;
            padding-top: 0;
            padding-bottom: 0;
        }
        .about-pic-1 {
            margin-right: 0;
            height: auto;
        }
        .about-pic-3 {
            margin-right: 0;
        }
        .about-pic-4 {
            margin-bottom: -7rem;
            margin-top: -3rem;
            margin-left: -8rem;
            height: auto;
        }
    }
}
@media screen and (min-width: $lg) {
    .about-hero-wrap {
        grid-template-columns: 2fr 2fr 2fr 1fr 1fr;
        grid-template-rows: 25rem 5rem 5rem 20rem 5rem;
        grid-template-areas: "hr  hr  hr  p-4 p-4"
                             "p-1 .   .   p-4 p-4"
                             "p-1 p-2 .   p-4 p-4"
                             "p-1 p-2 p-3 p-3 ."
                             "p-1 .   p-3 p-3 .";
        h1 {
            position: relative;
            top: 2.5rem;
            min-width: 23ch;
            max-width: 24ch;
        }
        .about-pic-1 {
            margin-right: 0;
        }
        .about-pic-3 {
            margin-right: 0;
        }
        .about-pic-4 {
            margin-bottom: 0;
            margin-top: 0;
            margin-left: 0;
        }
    }
}

/* Meet the team styles */
.rev-team-wrap {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "nb"
                         "hf"
                         "jg"
                         "an"
                         "ju";
    grid-gap: 1rem;
    .team-card {
        padding: 3rem;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: end;
        border-radius: $rev-radius;
        h3 {
            padding-bottom: .8rem;
            margin-top: 71.57%;
        }
    }
    .team-card-nb {
        grid-area: nb;
        background-image: linear-gradient(transparent 50%, $pink 90%), url(/wp-content/themes/revival-media/assets/imgs/niamh-profile.jpg);
    }
    .team-card-hf {
        grid-area: hf;
        background-image: linear-gradient(transparent 50%, $purple 90%),url(/wp-content/themes/revival-media/assets/imgs/harry-profile.jpg);
    }
    .team-card-jg {
        grid-area: jg;
        background-image: linear-gradient(transparent 50%, $pink 90%),url(/wp-content/themes/revival-media/assets/imgs/james-profile.jpg); 
    }
    .team-card-an {
        grid-area: an;
        background-image: linear-gradient(transparent 50%, $purple 90%),url(/wp-content/themes/revival-media/assets/imgs/harry-profile.jpg);    
    }
    .team-card-ju {
        grid-area: ju;
        background-image: url(/wp-content/themes/revival-media/assets/imgs/jobs.jpg);  
    }
}
@media screen and (min-width: $sm) {
    .rev-team-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "nb hf"
                             "jg an"
                             "ju ju";
    }
}
@media screen and (min-width: $lg) {
    .rev-team-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "nb hf jg"
                             "an ju ju";         
    }
}
@media screen and (min-width: $xl) {
    .rev-team-wrap {
        .team-card {
            padding: 5rem;
        }
    }
}

/* Our tools section */

.tools-container {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
    @media screen and (min-width: $lg) {
        flex-direction: row;
    }
    img {
        display: inline-block;
        z-index: 1;
        object-fit: contain;
    }
    .tools-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: -10rem;
        @media screen and (min-width: $sm) {
            margin-bottom: -15rem;        
        }
        @media screen and (min-width: $lg) {
            display: none;           
        }
        img {
            max-width:50%;
            min-width: 5rem;
            height:auto;
            @media screen and (min-width: $sm) {
                max-width:40%;         
            }
            
        }
    }

    .tools-bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: -7rem;
        @media screen and (min-width: $sm) {
            margin-top: -12rem;        
        }
        @media screen and (min-width: $lg) {
            display: none;           
        }
        img {
            max-width:50%;
            min-width: 5rem;
            height:auto;
            @media screen and (min-width: $sm) {
                max-width:40%;         
            }
            
        }
    }
    
    .tools-left {
        display: none;
        @media screen and (min-width: $md) {
            
        }
        @media screen and (min-width: $lg) {
            display: block;
            max-width: 30rem;
            margin-right: -8rem;
            margin-top: 0rem;
        }
        @media screen and (min-width: $xl) {
            max-width: 38rem;
            margin-right: -9rem;
            margin-top: -7rem;
        }
    }
    .tools-right {
        display: none;
        @media screen and (min-width: $md) {
            
        }
        @media screen and (min-width: $lg) {
            display: block;
            max-width: 35rem;
            margin-left: -13rem;
            margin-top: 0rem;
        }
        @media screen and (min-width: $xl) {
            max-width: 41rem;
            margin-left: -12rem;
            margin-top: -2rem;
        }
    }
}

.our-tools-card {
    height: fit-content;
    margin-top: 47px;
    width: 100%;
    min-width: fit-content;
    padding: 6rem;
    @media screen and (min-width: $sm) {
        padding: 8rem 6rem;
    }
    @media screen and (min-width: $lg) {
        width: 50%;
        padding: 8rem;
    }
    @media screen and (min-width: $xl) {
        padding: 10rem;
    }
    p {
        max-width: 30ch;
    }
}

/* Rev Group promo section */
.rev-group-wrap {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    .rev-card {
        width: 100%;
        display: grid;
        h2, p {
            color: $white;
        }
        h2 {
            max-width: 23ch;
        }
        p {
            max-width: 43ch;
        }
        span {
            color: $grey;
        }
        a.rev-button {
            margin-top: 1.5rem;
            background: $grey;
            color: $white;
            transition: background 150ms ease, color 150ms ease;
            align-self: end;
        }
        .rev-button:hover {
            background: $white;
        }
        a.rev-button::before {
            display: none;
        }
    }
    .rev-group-card {
        background-image: url(/wp-content/themes/revival-media/assets/imgs/revival-group-background.jpg);
        background-size: cover;
    }
    .rev-connect-card {
        background-color: $connect;
        .rev-button:hover {
            color: $connect;
        }
    }
    .rev-group-card {
        .rev-button:hover {
            color: $grey;
        }
    }
}
@media screen and (min-width: $lg) {
    .rev-group-wrap {
        grid-template-columns: 1fr 1fr;
    }
    h2 {
        max-width: 23ch;
    }
    p {
        max-width: 43ch;
    }
}