.footer-wrap {
    z-index: 1;
    position: relative;
    .footer-container {
        display: flex;
        flex-direction: column;
        padding-top: 5rem;
        padding-bottom: 5rem;
        .rm-logo-wrap {
            width: fit-content;
            margin-bottom: 1.5rem;
            padding-bottom: 0;
        }
        .footer-info {
            display: flex;
            flex-direction: column;
            @media screen and (min-width: $md) {
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
            }
            .footer-1 {
                display: flex;
                flex-direction: column;
                @media screen and (min-width: $md) {
                    flex-direction: row;
                    width: 50%;
                }
                .footer-col-one {
                    display: flex;
                    align-items: flex-end;
                    @media screen and (min-width: $md) {
                        width: 50%;
                    }
                    img {
                        padding-bottom: 2.5rem;
                    }
                    #footer-menu {
                        flex-direction: column;
                        li {
                            padding-bottom: 0.5rem;
                            a {
                                font-weight: bold;
                                transition: color 150ms ease;
                                &:hover {
                                    color: $pink; 
                                }
                            }
                            
                        }
                        .current-menu-item a {
                            color: $pink;
                        }
                        li:last-child {
                            padding-bottom: 0rem;
                        }
                    }
                }
                .footer-col-two {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    padding: 2.5rem 0rem;
                    @media screen and (min-width: $md) {
                        padding: 0rem;
                        width: 60%;
                    }
                    a {
                        margin-bottom: 1.5rem;
                        padding-bottom: 0;
                        width: fit-content;
                    }
                }
            }

            
            .footer-2 {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                .footer-address {
                    p:first-child {
                        font-weight: bold !important;
                        color: $pink;
                        padding-bottom: 0rem;
                    }
                }
                .footer-links {
                    padding: 1rem 0rem;
                    a:first-child {
                        margin-right: 1.5rem;
                        padding-bottom: 0;
                    }
                }
            }

            
        }
    }

}

.contact-detail {
    display: flex;
    img {
        padding-right: 1rem;
    }
    p {
        padding: 0rem;
    }
}

.footer-container {
    a {
        font-weight: bold;
        transition: color 150ms ease;
        color: $white;
        text-decoration: none;
        &:hover {
            color: $pink;
        }
    }
}

.social-links *:not(:first-child):not(:last-child) {
    padding: 0rem 1rem;
}

.social-links {
    img {
        &:hover {
            filter: brightness(0) saturate(100%) invert(26%) sepia(65%) saturate(6104%) hue-rotate(322deg) brightness(96%) contrast(93%);
        }
    }
}

.bottom-bar-wrap {
    background-image: url(/wp-content/themes/revival-media/assets/imgs/revival-group-background.jpg);
    background-size: cover;
    background-position: center;
    @media screen and (min-width: $md) {
        background-image: url(/wp-content/themes/revival-media/assets/imgs/colour-bar.jpg);
    }
    .bottom-bar {
        max-width: 1400px;
        margin: 0 auto;
        padding-top: 2rem;
        padding-bottom: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        @media screen and (min-width: $sm) {
            flex-direction: row;
        }
        a {
            padding-bottom: 0;
            color: $white;
            text-decoration: none;
            img:hover p, p:hover {
                font-weight: bold;
            }
        }
        .rsg-btm-bar {
            display: flex;
            align-items: center;
            img {
                padding-right: 1rem;
            }
            p {
                padding-top: 0.2rem;
                span {
                    font-weight: bold;
                }
            }
        }
        .btm-bar-menu {
            display: flex;
            flex-direction: row;
            padding-top: 1.5rem;
            width: 100%;
            justify-content: space-between;
            @media screen and (min-width: $sm) {
                padding-top: 0rem;
                width: fit-content;
            }
            a {
                padding-bottom: 0px;
                color: $white;
                text-decoration: none;
                @media screen and (min-width: $sm) {
                    /*&:not(:first-child):not(:last-child) {
                        padding: 0rem 1.5rem;
                    }*/
                    &:last-child {
                        margin-left: 3rem;
                    }
                }
                
            }

        }
    }
}