/* Hero card styles */

.hero-card {
    min-width: 47.5%;
    max-width: 620px;
    margin-right: 2rem;
    padding-bottom: 0rem;
    a {
        text-decoration: none;
    }
}
.screen-wrap {
    padding-top: 2.5rem;
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.2));
    .screen-ui{
        display: flex;
        flex-direction: row;
        height: 2rem;
        background: rgba(255, 255, 255, 0.85);
        border-radius: 0.5rem 0.5rem 0 0;
        align-items: center;
        padding-left: 0.8rem;
        
        .screen-ui-btn {
            height: 1rem;
            width: 1rem;
            border-radius: 1rem;
        }
        .red {
            background-color: #E9152E;
        }
        .yellow {
            background-color: #F2C421;
            margin: 0 0.4rem;
        }
        .green {
            background-color: #22D73F;
        }
    }
    .screenshot {
        height: 300px;
        background-size: cover;
    }
}



/* Services section styles */
.services-card {
    a.rev-button {
        margin-bottom: 3rem;
    }
    .flex-wrap {
        margin-bottom: 4rem;
    }
    .services-wrap {
        display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; gap: 3rem 2rem;
        margin-left: 1rem;
        .flex-wrap {
            flex-direction: row;
            align-items: center;
            margin-left: -1rem;
        }
    }
}
@media screen and (max-width: $xx) {
    .services-card {
        .services-wrap {
            grid-template-columns: 1fr 1fr;
        }
        .flex-wrap {
            margin-bottom: 2rem;
        }
    }
}
@media screen and (max-width: $sm) {
    .services-card {
        .services-wrap {
            grid-template-columns: 1fr;
        }
    }
}

/* Card and text section styles */
.card-text-section {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    align-items: center; 
    gap: 7.5rem 5rem;
    .image-text-wrap {
        display: flex;
        flex-direction: row;
        align-items: center;
        .rev-card {
            min-height: 30rem;
            min-width: 50%;
            margin-right: 2rem;
        }
    }
    .card-image-wrap {
        margin-left: 2rem;
    }
    .card-switch {
        .rev-card {
            min-height: 30rem;
            min-width: 50%;
            margin-left: 2rem;
            margin-right: 0;
        }
        .card-image-wrap {
            margin-right: 2rem;
            margin-left: 0;
        }
    }
}
@media screen and (max-width: $md) {
    .card-text-section {
        gap: 5rem;
    }
    .card-text-section .image-text-wrap {
        margin-bottom: 2.5rem;
        flex-direction: column;
        h3 {
            margin-top: 2.5rem;
        }
        .card-image, .rev-card, .card-image-wrap {
            margin: 0;
            width: 100%;
        }
    }
    .card-text-section .image-text-wrap.card-switch {
        flex-direction: column-reverse;
        .card-image-wrap {
            text-align: left !important;
        }
    }
}

/* Images for card text sections */

.hp-img-1 {
    background-image: url(assets/imgs/shopify-mock.jpg);
    background-size: cover;
    background-position: center;
}

.hp-img-2 {
    background-image: url(assets/imgs/wordpress.jpg);
    background-size: cover;
}

.hp-img-3{
    background-image: url(assets/imgs/social-media.jpg);
    background-size: cover;
    background-position: center;
}
