.home-hero-slider-section{
    overflow: hidden;
    max-width: fit-content;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar {
        display: none;
    }
    .glide__track {
        overflow: visible !important;
        z-index: 1;
        position: relative;
        .glide__slide {
            height: auto;
        }
    }
}
/* Services section styles */
.home-services-block {
    padding: 3rem;
}
.services-card {
    h3.our-services-title {
        padding-bottom: 1.5rem;
    }
    a.rev-button {
        padding-top: 1rem;
    }
    .flex-wrap {
        margin-bottom: 2rem;
    }
    .services-wrap {
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr 1fr; 
        gap: 2rem 2rem;
        margin-top: 2rem;
        .flex-wrap {
            flex-direction: row;
            align-items: center;
        }
    }
}
@media screen and (max-width: $xx) {
    .services-card {
        .services-wrap {
            grid-template-columns: 1fr 1fr;
        }
        .flex-wrap {
            margin-bottom: 2rem;
        }
    }
}
@media screen and (max-width: $sm) {
    .services-card {
        .services-wrap {
            grid-template-columns: 1fr;
        }
    }
}

/* Card and text section styles */
.card-text-section {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    align-items: center; 
    gap: 7.5rem 5rem;
    .image-text-wrap {
        display: flex;
        flex-direction: row;
        align-items: center;
        .rev-card {
            min-height: 30rem;
            min-width: 50%;
            margin-right: 2rem;
        }
    }
    .card-image-wrap {
        margin-left: 2rem;
    }
    .card-switch {
        .rev-card {
            min-height: 30rem;
            min-width: 50%;
            margin-left: 2rem;
            margin-right: 0;
        }
        .card-image-wrap {
            margin-right: 2rem;
            margin-left: 0;
        }
    }
}
@media screen and (max-width: $md) {
    .card-text-section {
        gap: 5rem;
    }
    .card-text-section .image-text-wrap {
        margin-bottom: 2.5rem;
        flex-direction: column;
        h3 {
            margin-top: 2.5rem;
        }
        .card-image, .rev-card, .card-image-wrap {
            margin: 0;
            width: 100%;
        }
    }
    .card-text-section .image-text-wrap.card-switch {
        flex-direction: column-reverse;
        .card-image-wrap {
            text-align: left !important;
        }
    }
}

/* Images for card text sections */
.hp-img-1 {
    background-image: url(assets/imgs/hp-img-1.jpg);
    background-size: cover;
    background-position: center;
}
.hp-img-2 {
    background-image: url(assets/imgs/hp-img-2.jpg);
    background-size: cover;
    background-position: center;
}   
.hp-img-3{
    background-image: url(assets/imgs/social-media.jpg);
    background-size: cover;
    background-position: center;
}

/* Client Testimonials Section */

.client-slider-section {
    overflow-x: hidden;
    max-width: fit-content;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar {
        display: none;
    }
    .glide__track {
        overflow: visible !important;
    }
    .glide__slides {
        display: flex;
        height: auto;
        z-index: 0;
        .glide__slide {
            height: auto;
        }
    }
}

.client-card {
    display: flex;
    width: 100%;
    flex-direction: column-reverse;
    flex-basis: auto;
    @media screen and (min-width: $lg) {
        flex-direction: row;
    }
    .clients-text {
        border-top-right-radius: 0rem;
        border-top-left-radius: 0rem;
        flex: 1;
        @media screen and (min-width: $lg) {
            border-top-right-radius: 0rem;
            border-bottom-right-radius: 0rem;
            border-bottom-left-radius: 1.5rem;
            border-top-left-radius: 1.5rem;
            width: 50%;
        }
        a {
            padding-right: 1rem;
            text-decoration: underline;
            padding-bottom: 0;
        }
    }
    .client-img {
        background-image: url(assets/imgs/client-pp.jpg);
        background-size: cover;
        background-position: center;
        border-top-right-radius: 1.5rem;
        border-top-left-radius: 1.5rem;
        border-bottom-right-radius: 0rem;
        border-bottom-left-radius: 0rem;
        height: 30rem;
        @media screen and (min-width: $lg) {
            height: auto;
            width: 50%;
            border-top-right-radius: 1.5rem;
            border-bottom-right-radius: 1.5rem;
            border-top-left-radius: 0rem;
        }
    }
}