.home-hero-slider-section{
    overflow: hidden;
    max-width: fit-content;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar {
        display: none;
    }
    .glide__track {
        overflow: visible !important;
        .glide__slide {
            height: auto;
        }
    }
}
/* Hero card styles */
.hp-slider {
    padding: 0 0 0 2rem;
    @media screen and (min-width: $md) {
        padding: 0 0 0 5rem;
    }
    .hero-card-link-wrap {
        height: 100%;
        a, p, h1, h2, h3, h4, h5, h6 {
            text-decoration: none;
        }
    }
}
.hero-card {
    padding-bottom: 0rem;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    &:hover .screen-wrap {
        top: -1rem;
        transform-origin: bottom;
        }
    &:hover .rev-button {
            background: $pink;
        }
    h2 {
        padding-bottom: 1rem;
    }
    h4 {
        padding-bottom: .5rem;
    }
}
.screen-wrap {
    margin-top: 3.5rem;
    position: relative;
    top: 0rem;
    transition: top 150ms ease;
    box-shadow: 0 0 2rem $shadow;
    border-radius: 0.5rem;
    // filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.2)); <- Is this needed?
    .screen-ui {
        display: flex;
        flex-direction: row;
        height: 2rem;
        background: rgba(255, 255, 255, 0.85);
        border-radius: 1.5rem 1.5rem 0 0;
        align-items: center;
        padding-left: 0.8rem;
        
        .screen-ui-btn {
            height: 1rem;
            width: 1rem;
            border-radius: 1rem;
            display: none;
        }
        .red {
            background-color: #ff5f57;
        }
        .yellow {
            background-color: #febc2e;
            margin: 0 0.4rem;
        }
        .green {
            background-color: #28c840;
        }
    }
    .screenshot {
        height: 500px;
        background-size: cover;
        margin-bottom: -1rem;
        @media screen and (min-width: $md) {
            height: 350px;
        }
    }
}

/* Services section styles */
.services-card {
    a.rev-button {
        margin-bottom: 3rem;
    }
    .flex-wrap {
        margin-bottom: 4rem;
    }
    .services-wrap {
        display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; gap: 3rem 2rem;
        margin-left: 1rem;
        .flex-wrap {
            flex-direction: row;
            align-items: center;
        }
    }
}
@media screen and (max-width: $xx) {
    .services-card {
        .services-wrap {
            grid-template-columns: 1fr 1fr;
        }
        .flex-wrap {
            margin-bottom: 2rem;
        }
    }
}
@media screen and (max-width: $sm) {
    .services-card {
        .services-wrap {
            grid-template-columns: 1fr;
        }
    }
}

/* Card and text section styles */
.card-text-section {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    align-items: center; 
    gap: 7.5rem 5rem;
    .image-text-wrap {
        display: flex;
        flex-direction: row;
        align-items: center;
        .rev-card {
            min-height: 30rem;
            min-width: 50%;
            margin-right: 2rem;
        }
    }
    .card-image-wrap {
        margin-left: 2rem;
    }
    .card-switch {
        .rev-card {
            min-height: 30rem;
            min-width: 50%;
            margin-left: 2rem;
            margin-right: 0;
        }
        .card-image-wrap {
            margin-right: 2rem;
            margin-left: 0;
        }
    }
}
@media screen and (max-width: $md) {
    .card-text-section {
        gap: 5rem;
    }
    .card-text-section .image-text-wrap {
        margin-bottom: 2.5rem;
        flex-direction: column;
        h3 {
            margin-top: 2.5rem;
        }
        .card-image, .rev-card, .card-image-wrap {
            margin: 0;
            width: 100%;
        }
    }
    .card-text-section .image-text-wrap.card-switch {
        flex-direction: column-reverse;
        .card-image-wrap {
            text-align: left !important;
        }
    }
}

/* Images for card text sections */
.hp-img-1 {
    background-image: url(assets/imgs/shopify-mock.jpg);
    background-size: cover;
    background-position: center;
}
.hp-img-2 {
    background-image: url(assets/imgs/wordpress.jpg);
    background-size: cover;
}   
.hp-img-3{
    background-image: url(assets/imgs/social-media.jpg);
    background-size: cover;
    background-position: center;
}

/* Client Testimonials Section */

.client-slider-section {
    overflow-x: hidden;
    max-width: fit-content;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar {
        display: none;
    }
    .glide__track {
        overflow: visible !important;
    }
    .glide__slides {
        display: flex;
        height: auto;
        .glide__slide {
            height: auto;
        }
    }
}

.client-card {
    display: flex;
    width: 100%;
    flex-direction: column-reverse;
    flex-basis: auto;
    @media screen and (min-width: $lg) {
        flex-direction: row;
    }
    .clients-text {
        border-top-right-radius: 0rem;
        border-top-left-radius: 0rem;
        flex: 1;
        @media screen and (min-width: $lg) {
            border-top-right-radius: 0rem;
            border-bottom-right-radius: 0rem;
            border-bottom-left-radius: 1.5rem;
            border-top-left-radius: 1.5rem;
            width: 50%;
        }
        a {
            padding-right: 1rem;
            text-decoration: underline;
        }
    }
    .client-img {
        background-image: url(assets/imgs/client-pp.jpg);
        background-size: cover;
        background-position: center;
        border-top-right-radius: 1.5rem;
        border-top-left-radius: 1.5rem;
        border-bottom-right-radius: 0rem;
        border-bottom-left-radius: 0rem;
        height: 30rem;
        @media screen and (min-width: $lg) {
            height: auto;
            width: 50%;
            border-top-right-radius: 1.5rem;
            border-bottom-right-radius: 1.5rem;
            border-top-left-radius: 0rem;
        }
    }
}