.services-hero-section { 
    h1 {
        padding-bottom: 2rem; 
        max-width: 35ch;
    }
}
.services-block {
    gap: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .rev-card {
        padding: 0;
        overflow: hidden;
        height: auto;
    }
    .service-img {
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 20rem;
        @media screen and (min-width: $md) {
            height: 30rem;
        }
    }

    /* Service tile images */ 

    .development-service {
        background-image: url(assets/imgs/development-service.jpg);
    }
    .social-service {
        background-image: url(assets/imgs/social-service.jpg);
    }
    .design-service {
        background-image: url(assets/imgs/design-service.jpg);
    }
    .build-service {
        background-image: url(assets/imgs/build-service.jpg);
    }
    .copywriting-service {
        background-image: url(assets/imgs/copywriting-service.jpg);
    }
    .security-service {
        background-image: url(assets/imgs/security-service.jpg);
    }

    .service-text {
        padding: 3rem;
        .flex-wrap {
            margin-bottom: 2rem;
            flex-wrap: nowrap;
            flex-direction: row;
            align-items: center;
        }
    }
}
@media screen and (max-width: $md) {
    .services-block {
        grid-template-columns: 1fr;
    }
}
@media screen and (min-width: $xl) {
    .services-block {
        grid-template-columns: 1fr 1fr 1fr;
    }
}