.proj-hero-wrap {
    position: relative;
    left: 0;
    right: 0;
    .proj-hero-image {
        background-size: cover;
        background-position: center;
        .proj-hero-text {
            display: flex;
            flex-direction: column;
            justify-content: end;
            min-height: 60vh;
        }
        .proj-hero-button-wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;
            h1 {
                padding-bottom: 0;
            }
            .rev-button {
                height: fit-content;
            }
        }
    }
}
.top-text-section {
    padding-bottom: 0;
    .top-text-wrap {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem 4rem;
        @media screen and (min-width: $md) {
            grid-template-columns: 1fr 1fr;
        }
    }
}
.web-iframes-section {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr;
    @media screen and (min-width: $md) {
        grid-template-columns: 1fr auto;
    }
    iframe {
        border-radius: 0 0 $rev-radius $rev-radius;
    }
}
.feature-section {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    align-items: center; 
    gap: 7.5rem 5rem;
    .image-text-wrap {
        display: flex;
        flex-direction: row;
        align-items: center;
        .rev-card {
            min-height: 30rem;
            min-width: 50%;
            margin-right: 2rem;
        }
    }
    .card-image-wrap {
        margin-left: 2rem;
    }
    .card-switch {
        .rev-card {
            min-height: 30rem;
            min-width: 50%;
            margin-left: 2rem;
            margin-right: 0;
        }
        .card-image-wrap {
            margin-right: 2rem;
            margin-left: 0;
        }
    }
}
@media screen and (max-width: $md) {
    .feature-section {
        gap: 5rem;
    }
    .feature-section .image-text-wrap {
        margin-bottom: 2.5rem;
        flex-direction: column;
        h3 {
            margin-top: 2.5rem;
        }
        .card-image, .rev-card, .card-image-wrap {
            margin: 0;
            width: 100%;
        }
    }
    .feature-section .image-text-wrap.card-switch {
        flex-direction: column-reverse;
        .card-image-wrap {
            text-align: left !important;
        }
    }
}

/* Related Projects Section */
.related-projects-section {
    overflow-x: hidden;
    max-width: fit-content;
    .glide__track {
        overflow: visible;
    }
}