.rev-card.contact-card {
    display: flex;
    padding: 0; 
    .contact-card-text {
        padding: 5rem;
        width: 100%;
        @media screen and (min-width: 993px) {
            width: 50%;
        }
    }
    .contact-template-img {
        object-fit: cover;
        width: 50%;
        border-radius: 0 0 $rev-radius $rev-radius;
        @media screen and (min-width: 993px) {
            border-radius: 0 $rev-radius $rev-radius 0 !important;
        }
    }
}
.contact-form.contact-form-template {
    .field input {
        margin-top: .5rem;
    }
    a.rev-button {
        margin-top: .7rem;
    }
}
@media screen and (max-width: $md) {
    .contact-card-text {
        padding: 3rem !important;
        .contact-form.contact-form-template {
            gap: 1.5rem;
        }
    }
}
@media screen and (max-width: $lg) {
    .rev-card.contact-card {
        flex-direction: column;
        .contact-template-img {
            width: 100%;
            max-height: 30rem;
        }
    }
}