@font-face {
    font-family: mont;
    src: url(./assets/fonts/Mont-Regular.otf);
    font-weight: normal;
}

@font-face {
    font-family: mont;
    src: url(./assets/fonts/Mont-Bold.otf);
    font-weight: bold;
}

/* break points */

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xx: 1400px;


/* colours */

$pink: #ED1F78;
$purple: #7B00DB;
$grey: #161616;
$white: #FFFFFF;



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'mont', sans-serif;
}

/* Type sizes */

h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    @media (min-width: $md) {
        font-style: normal;
        font-weight: 800;
        font-size: 50px;
    }
}