@use "theme-header";

// Import variables and mixins.
@use "abstracts";

/*--------------------------------------------------------------
# Generic
--------------------------------------------------------------*/

/* Normalize
--------------------------------------------- */
@use "generic/normalize";

/* Box sizing
--------------------------------------------- */
@use "generic/box-sizing";

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
@use "base";

/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/
@use "layouts";

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
@use "components";

/*--------------------------------------------------------------
# Plugins
--------------------------------------------------------------*/

@use "plugins/jetpack";

/*--------------------------------------------------------------
# Utilities
--------------------------------------------------------------*/

@use "utilities";

/*--------------------------------------------------------------
# Typefaces
--------------------------------------------------------------*/

@font-face {
    font-family: Mont;
    src: url(./assets/fonts/Mont-Regular.otf);
    font-weight: regular;
}

@font-face {
    font-family: Mont;
    src: url(./assets/fonts/Mont-Bold.otf);
    font-weight: bold;
}