/* Variables */

/* Break points */
$xs: 420px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xx: 1400px;

/* Colours */
$pink: #ED1F78;
$purple: #7B00DB;
$grey: #161616;
$white: #FFFFFF;
$grad: linear-gradient(220deg, #7B00DB, #ED1F78);
$trans: rgba(28, 28, 28, 0.8);

/* Border Radius */
$rev-radius: 1.5rem;